@import "tailwindcss";
/* import {satoshi} from 'next/local/font/' */


:root {
  /* --background: #ffffff; */
  --background: #F2F0F1;
  --foreground: #000000;
  --lightGray: #a6a6a6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-bungee: var(--font-bungee);
  --font-inter: var(--font-inter);
  /* --font-sans: var(--font-geist-sans); */
  /* --font-mono: var(--font-geist-mono); */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);  /* Apply Inter globally, with fallback */
}
